/* Site-wide look and feel */

body {
    font-size: 1em;
    line-height: 1.3;
    font-family: sans-serif;
    margin: 0px;
}

.banner {
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #023882;
}

.banner .back_button {
    display: block;
    height: 64px;
    width: 66px;
    padding-top: 12px;
    cursor: pointer;
}

.banner .banner_title {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;

  position: absolute;
  left: 66px;
  right: 66px;
}

.banner .help {
  position: absolute;
  right: 70px;
  /* To achieve vertical centering
   (http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/)
  */
  margin-top: auto;
  margin-bottom: auto;
  top: 0; bottom: 0;
  text-align: center;
 height: 55px;
}

.banner .help p {
  font-size: 16px;
  margin-top: -3px;
  color: #F7D117;
  text-shadow: none;
}

.block_buttons .double {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.block_buttons .double a.button_link {
  width: 120px;
  font-size: 14px;
  margin: 0;
  padding: 8px 12px;
  flex-shrink: 0;
}

.banner img.logo {
  display: inline;
  position: absolute;
  top: 2px;
  right: 2px;
}


div.banner_version { 
  position: absolute;
  right: 10px;
}

table { 
  border-collapse: collapse;
  border: 2px black;
}

td {
  border: 1px solid;
  text-align: center;
  padding: 13px;
}

th {
  padding-right: 10px;
  font-size: 24px;
}

tbody {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.block_buttons input,
.block_buttons select,
.block_buttons optgroup,
.block_buttons option,
.block_buttons label,
.block_buttons span,
.block_buttons p { 
  font-size: 24px; /*x-large; */
}

.block_buttons input[type='button'],
.block_buttons input[type='submit'],
.block_buttons a.button_link {
    display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 3px;
	margin-bottom: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-weight: 500;
}

.block_buttons input[type='button'],
.block_buttons input[type='submit'],
.block_buttons .button_link {
    color: #ffffff;
    background: linear-gradient(180deg, #4a4a4a 0%, #2d2d2d 100%);
    border: 1px solid #555555;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block_buttons input[type='button']:hover,
.block_buttons input[type='submit']:hover,
.block_buttons .button_link:hover {
    background: linear-gradient(180deg, #5a5a5a 0%, #3d3d3d 100%);
    /* transform: translateY(-1px); */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.block_buttons a.button_link {
  width: 168px;
  height: auto;
  min-height: 20px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.block_buttons input[disabled][type='button'],
.block_buttons input[disabled][type='submit'],
.block_buttons a.button_link.disabled {
  background: #a0a0a0;
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
}

.block_buttons input[disabled][type='button']:hover,
.block_buttons input[disabled][type='submit']:hover,
.block_buttons a.button_link.disabled:hover {
  transform: none;
  box-shadow: none;
}

.block_buttons input.delete_button {
    background: linear-gradient(180deg, #ff4444 0%, #cc0000 100%);
}

.block_buttons input.delete_button:hover {
    background: linear-gradient(180deg, #ff5555 0%, #dd0000 100%);
}

.block_buttons input.mini {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  width: 140px;
  font-size: 14px;
  margin-bottom: 3px;
}

#ajax_working {
  position: fixed;
  background-color: green;
  bottom: 0px;
  left: 1em;
  padding: 1em;
  width: 10em;
  text-align: center;
}

#ajax-failure {
  position: fixed;
  background-color: red;
  bottom: 0px;
  left: 1em;
  padding: 1em;
  width: 25em;
  font-size: x-large;
  text-align: center;
}

/** modal window styles **/
#modal_background {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#second_modal_background {
    position: fixed;
    z-index:11500;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#third_modal_background {
    position: fixed;
    z-index:13500;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal_frame {
    position: fixed;
    background-color: transparent;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: scroll;
}

.modal_dialog {
  display: none;
  width: 300px;
  top: 100px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.wide_modal {
  width: 500px;
}

.settings_group {
  margin-bottom: 20px;
}

.hidden {
  visibility: hidden;
  display: none;
}
